@model PagedList.IPagedList<OnlineStore.Models.StoreDB.Goods>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Genre</h2>

<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }

</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))