@model PagedList.IPagedList<OnlineStore.Models.GoodsModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Genre</h2>

<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("AddToBasket", "Basket"))
        {
            @Html.Hidden("id", item.ProductId, new { @id = "id" })
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Price.ToString("# руб")
                </td>
               
                <td>
                    @Html.EditorFor(modelItem => item.Quantity, null, "quantity", new { htmlAttributes = new { @min = "1", @max = "20", @class = "form-control", @Value = "1" } })
                </td>

                <td>
                    <input type="submit" value="В корзину" class="btn btn-default" />           
                </td>
            </tr>
         }
     }

</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))