@model IEnumerable<OnlineStore.Models.StoreDB.Category>

@{
    ViewBag.Title = "Категории товара";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>Наименование</th>
        <th>Видимость</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.RouteLink(item.CategoryName, new
                   {
                       controller = "GoodsAdmin",
                       action = "Index",
                       genre = item.CategoryName
                   })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visibility)
        </td>
        <td>
            @Html.ActionLink("Редактирвоать", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
